@media only screen and (max-width:769px)
  header
    width: 100%

  section .left-column
    margin-right: 6%
    width: 88%

  section .right-column
    margin-left: 6%
    width: 88%


@media only screen and (max-width : 421px)
  header 
    .logo
      width: 90px
      margin: 10px auto 20px auto
      float: none

    ul.contact
      width: 88%
      margin: 0 6%
      position: static
      float: left

      li
        text-indent: 40px
        margin-bottom: 20px 

  section.experience 
    .icon-col 
      width: 88%
      margin: 0 6%
      float: left
      position: relative
      height: 190px


      .controls
        position: relative
        right: auto
        top: auto
        left: auto

        a.next, a.prev
          top: 0

        .count
          top: 17px

    ul.experience
      width: 88%
      margin: 6%
      float: left
      
      li.listing 
        h3, .duration
          display: block
          float: none
          text-align: left
          
        h3
          font-size: 1.2em
          
        .duration
          margin-top: 5px

  .right-column
    .highlights
      .col
        width: 88%
        margin: 0 6% 40px 6%
