!!!
html
  head
    title!= site_name
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/application.css")
    link(rel="stylesheet", href="css/ionicons.min.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic")
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    main
      != yield

    script(src="js/jquery-2.0.3.min.js")
    script(src="js/application.js")
    script var s = new Slider('ul.experience')