header.cf
  img.logo(src='img/logo.svg', alt='R')

  ul.contact
    li
      a.ion-ios7-location(href='https://goo.gl/maps/68ahK', target='_blank') Westwood, Los Angeles Area
    li
      a.ion-ios7-telephone(href='tel:8055514033') (805) 551-4033
    li
      a.ion-ios7-email-outline(href='mailto:bedouglas@gmail.com') Email
    li
      a.ion-social-linkedin(href='www.linkedin.com/in/redouglas/', target='_blank') Linkedin
    li
      a.ion-document(href='Robert-Douglas_resume.pdf', target='_blank') Resume
section
  .left-column
    section
      p I'm a developer and designer with a passion for problem-solving. I enjoy finding creative, elegant solutions across a wide variety of platforms, and working with innovative, cross-functional teams. Nothing inspires me more than learning new things, and seeing new ideas come into fruition.
      p I'm as passionate about writing clean, simple code as I am about creating clean, simple designs. Every project has its own unique needs, but my personal aesthetic is all about designing with purpose - in both the code I write and the graphics I create.

  .right-column
    section.experience.cf
      .icon-col
        .ion-map.icon
        .icon-description Experience
        .controls
          a.next.ion-ios7-arrow-right#next(href="#", title="Next")
          .count 1
          a.prev.ion-ios7-arrow-left#prev(href="#", title="Previous")
      ul.experience.cf
        each listing in public.experience._data
          li.listing
            h3
              span.title= listing.title
              = ", "
              span.company= listing.company
            .duration= listing.duration
            ul
              each bullet in listing.bullets
                li= bullet


    section.highlights.cf
      .col.tools
        .ion-settings.icon
        .icon-description Tools
        ul
          li HTML5 &amp; CSS3
          li SASS, Stylus &amp; LESS
          li HAML &amp; Jade
          li CoffeeScript
          li jQuery
          li Rails, Node &amp; Play
          li Wordpress, Drupal
          li Facebook App Integration
      .col.skills
        .ion-clipboard.icon
        .icon-description Skills
        ul
          li Front-End Development
          li User Experience Design
          li Graphic and Print Design
          li Responsive Interface Design
          li Team Management
          li Rapid Prototyping
          li Wireframing
          li Branding
      .col.education
        .ion-briefcase.icon
        .icon-description Education
        ul
          li
            strong California State University, Northridge
            br
            | Graphic Design, 2007-2009
            br
            | Bachelor's of Art, Graphic Design
          li
            strong University of California, Santa Barbara
            br
            | Computer Engineering, 2004-2007


