doctype
html
  head
    title!= site_name
    link(rel="stylesheet", href="css/main.css")
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    img.logo(src='/img/logo.svg')



