@media only screen and (max-width:768px){header{width:100%}
section .left-column{margin-right:6%;width:88%}
section .right-column{margin-left:6%;width:88%}
}@media only screen and (max-width : 480px){header img.logo{width:90px;margin:10px auto;float:none}
header ul.contact{width:88%;margin:0 6%;position:static;float:left;}
header ul.contact li{text-indent:40px;margin-bottom:20px}
section.experience .icon-col{width:88%;margin:0 6%;float:left;position:relative;height:190px;}
section.experience .icon-col .controls{position:relative;right:auto;top:auto;left:auto;}
section.experience .icon-col .controls a.next,section.experience .icon-col .controls a.prev{top:0}
section.experience .icon-col .controls .count{top:17px}
section.experience ul.experience{width:88%;margin:6%;float:left}
.right-column .highlights .col{width:88%;margin:0 6% 40px 6%}
}